<div class = "ingreso_usuario" >
    <form action="/usuario" method="POST">
        <p class="titulo">
            TIPO DE USUARIO
        </p>
        <div class="mb-3">
            <label for="fullname">ESCRIBA SU ROL:</label>
            <input type="text" id="tipo_usuario" name="tipo_usuario" required>
        </div>
        
        <div class="mb-3">
            <label for="email">ESCRIBA SU CODIGO:</label>
            <input type="text" id="codigo" name="codigo" required>
        </div>
        <input type="submit" value="Ingresar">
    </form>
</div>


