{% extends 'layout.html' %}


{% block title %}
  FIRMA DE CONTRATO
{% endblock %}

{% block body %}
  {% include 'partials/_navbar1.html' %}
  <div class="scrollable-container">
    {% include 'partials/_tabla_contratos_contratista.html' %}
    <div class="button-container">
      <form action="{{url_for("contratos.pagina_contratista",codigo=codigo)}}" style="display: inline;">
        <button type="submit" class="btn btn-dark btn-sm rounded-0">ATRAS</button>
      </form>
    </div>
  </div>
{% endblock %}